[global]
DATABASE = <pad naar sqlite3-database inclusief db file>

[TRANSACTION]
IN_FOLDER = <pad / foldernaam naar locatie waar de inputfiles terecht komen>
ARCHIVE_FOLDER = <pad / foldernaam naar locatie waar de verwerkte files mogen gearchiveerd worden>
JSON_FOLDER = <pad / foldernaam naar locatie waar de JSON file mogen terecht komen voor integratie met extern pakket>
EXPORT_FOLDER = <pad / foldernaam naar locatie waar de export file mogen terecht komen. (Exports naar Excel)>